<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.yxy.dao.StudentDAO">

	<delete id="deleteById" parameterType="long">
		DELETE FROM student WHERE id = #{id}
	</delete>

	<select id="getById" parameterType="long" resultType="Student">
		SELECT
		id,
		create_at,
		name,
		sno,
		periods,
		city,
		course
		FROM
		student
		WHERE
		id = #{id}
	</select>

	<update id="update" parameterType="Student">
		UPDATE student
		SET
		update_at = #{updateAt},
		name = #{name},
		sno = #{sno},
		periods = #{periods},
		city = #{city},
		course = #{course}
		WHERE id = #{id}
	</update>

</mapper>