<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 本地RMI-service -->
    <bean id="studentService1" class="org.springframework.remoting.rmi.RmiProxyFactoryBean" scope="prototype">
        <property name="serviceUrl" value="rmi://localhost:1099/StudentService"/>
        <property name="serviceInterface" value="cn.yxy.service.StudentService"/>
    </bean>
    <bean id="userService1" class="org.springframework.remoting.rmi.RmiProxyFactoryBean" scope="prototype">
        <property name="serviceUrl" value="rmi://localhost:1199/UserService"/>
        <property name="serviceInterface" value="cn.yxy.service.UserService"/>
    </bean>

    <bean id="studentService2" class="org.springframework.remoting.rmi.RmiProxyFactoryBean" scope="prototype">
        <property name="serviceUrl" value="rmi://localhost:1098/StudentService"/>
        <property name="serviceInterface" value="cn.yxy.service.StudentService"/>
    </bean>
    <bean id="userService2" class="org.springframework.remoting.rmi.RmiProxyFactoryBean" scope="prototype">
        <property name="serviceUrl" value="rmi://localhost:1198/UserService"/>
        <property name="serviceInterface" value="cn.yxy.service.UserService"/>
    </bean>

    <!-- 腾讯云RMI-service -->
<!--    <bean id="studentServiceQ" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="serviceUrl" value="rmi://localhost:1099/StudentService"/>
        <property name="serviceInterface" value="cn.yxy.service.StudentService"/>
    </bean>
    <bean id="userServiceQ" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="serviceUrl" value="rmi://localhost:1199/UserService"/>
        <property name="serviceInterface" value="cn.yxy.service.UserService"/>
    </bean>-->

    <!-- 阿里云RMI-service -->
    <!--<bean id="studentServiceA" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="serviceUrl" value="rmi://106.15.88.27:1099/StudentService"/>
        <property name="serviceInterface" value="cn.yxy.service.StudentService"/>
        <property name="refreshStubOnConnectFailure" value="true" />
    </bean>
    <bean id="userServiceA" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="serviceUrl" value="rmi://106.15.88.27:1199/UserService"/>
        <property name="serviceInterface" value="cn.yxy.service.UserService"/>
        <property name="refreshStubOnConnectFailure" value="true" />
    </bean>-->
</beans>