<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='cn.yxy.mappers.StudentMapper'>
  <insert id='insertStu' parameterType='cn.yxy.domain.Student' useGeneratedKeys='true' keyProperty='id'>
   INSERT INTO student(create_at,name, periods, city, course)
    VALUES(#{createAt}, #{name}, #{period}, #{city}, #{course})
  </insert>
  
  <delete id='deleteStu' parameterType='long'>
    DELETE FROM student WHERE id = #{id}
  </delete>
  
  <select id='getStuById' parameterType='long' resultType='cn.yxy.domain.Student'>
     SELECT 
      id, 
      create_at as createAt, 
      name, 
      periods, 
      city,  
      course
     FROM student 
     WHERE id = #{id}
  </select>
  <!-- Instead of referencing Fully Qualified Class Names we can register Aliases in mybatis-config.xml and use Alias names. -->
   <resultMap type='cn.yxy.domain.Student' id='StudentResult'>
    <id property='id' column='id'/>
    <result property='createAt' column='create_at'/>
    <result property='name' column='name'/>
    <result property='periods' column='periods'/>
    <result property='city' column='city'/> 
    <result property='course' column='course'/>  
   </resultMap>

  <update id='updateStu' parameterType='cn.yxy.domain.Student'>
    UPDATE student 
    SET 
     update_at = #{updateAt},
     name = #{name},
     periods = #{periods},
     city = #{city},
     course = #{course}
    WHERE id = #{id}
  </update>

</mapper>