<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.3.xsd">

    <context:component-scan base-package="cn.yxy.util"/>

    <bean id="CCPSDKUtil" class="cn.yxy.util.api.CCPSDKUtil">
        <property name="accountSid" value="${ronglian.accountSid}"/>
        <property name="authToken" value="${ronglian.authToken}"/>
        <property name="appId" value="${ronglian.appId}"/>
    </bean>

    <bean id="SendCloudAPI" class="cn.yxy.util.api.SendCloudAPI">
        <property name="apiUser" value="${sendCloud.apiUser}"/>
        <property name="apiKey" value="${sendCloud.apiKey}"/>
    </bean>

    <bean id="QiniuToken" class="cn.yxy.util.api.QiniuToken">
        <!--<constructor-arg index="0" value="${qiniu.accessKey}"/>
        <constructor-arg index="1" value="${qiniu.secretKey}"/>-->
        <property name="accessKey" value="${qiniu.accessKey}"/>
        <property name="secretKey" value="${qiniu.secretKey}"/>
    </bean>

    <bean id="AliyunOSS" class="cn.yxy.util.api.AliyunOSS">
        <property name="endpoint" value="${aliyun.endpoint}"/>
        <property name="accessKeyId" value="${aliyun.accessKeyId}"/>
        <property name="accessKeySecret" value="${aliyun.accessKeySecret}"/>
    </bean>
</beans>